In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import time

In [2]:
data= pd.read_csv("train.tsv", sep='\t', na_values='NaN')

In [16]:
data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [4]:
pd.set_option('display.max_colwidth', -1)

In [55]:
data11= data_2.dropna().copy()
data12= data11.groupby('brand_name')['price'].sum()

In [12]:
import cufflinks as cf
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
plotly.tools.set_credentials_file(username='ashkjatav', api_key='qBv4ljnYHZWTcGbpF2rv')

In [5]:
from plotly.graph_objs import Bar

In [41]:
data13=pd.DataFrame(data11.groupby('brand_name')['price'].sum()).reset_index()
data13.price.dtype

dtype('float64')

In [13]:
PC1_elec=data_2[data_2['Product_Category_1']=='Electronics']
PC1_elec_train= PC1_elec[PC1_elec['brand_name'].notnull()]
PC1_elec_train= PC1_elec_train[['brand_name', 'price']]
PC1_elec_train.shape

(60061, 2)

In [17]:
import plotly.offline as offline
import plotly.graph_objs as go

In [18]:
offline.iplot([{'x': PC1_elec_train['brand_name'], 'y': PC1_elec_train['price']}], image='png', image_height=2560, image_width=1440)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [3]:
data1= pd.DataFrame(data['category_name'].str.split('/',expand=True))
data1=data1.drop([3,4],axis=1)
data1.columns= ['Product_Category_1','Product_Category_2','Product_Category_3']

In [4]:
data1.head()

  Product_Category_1   Product_Category_2  Product_Category_3
0                Men                 Tops            T-shirts
1        Electronics  Computers & Tablets  Components & Parts
2              Women       Tops & Blouses              Blouse
3               Home           Home Décor  Home Décor Accents
4              Women              Jewelry           Necklaces

In [5]:
data_1= pd.concat([data, data1],axis=1).drop('category_name', axis=1)

In [6]:
data_1.head()

,train_id,name,item_condition_id,brand_name,price,shipping,item_description,Product_Category_1,Product_Category_2,Product_Category_3
0,0,MLB Cincinnati Reds T Shirt Size XL,3,NaN,10.0,1,No description yet,Men,Tops,T-shirts
1,1,Razer BlackWidow Chroma Keyboard,3,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts
2,2,AVA-VIV Blouse,1,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse
3,3,Leather Horse Statues,1,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents
4,4,24K GOLD plated rose,1,NaN,44.0,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces

In [7]:
import nltk
import re
import string

In [8]:
i = nltk.corpus.stopwords.words('english')
j = list(string.punctuation) 

stopwords = set(i).union(j)

In [9]:
def preprocess(x):
    x = re.sub('[^a-z\s]', '', x.lower())                  # get rid of noise
    x = [w for w in x.split() if w not in set(stopwords)]  # remove stopwords
    return ' '.join(x)

In [10]:
data_1['name1'] = data_1['name'].apply(preprocess)
data_1.drop('name', axis=1, inplace=True)
data_1.head()

,train_id,item_condition_id,brand_name,price,shipping,item_description,Product_Category_1,Product_Category_2,Product_Category_3,name1
0,0,3,NaN,10.0,1,No description yet,Men,Tops,T-shirts,mlb cincinnati reds shirt size xl
1,1,3,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts,razer blackwidow chroma keyboard
2,2,1,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse,avaviv blouse
3,3,1,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents,leather horse statues
4,4,1,NaN,44.0,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces,k gold plated rose

In [12]:
data_2= data_1[['train_id', 'name1', 'item_condition_id', 'brand_name', 'shipping', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3','item_description', 'price' ]].copy()

In [12]:
data_2.head()

,train_id,name1,item_condition_id,brand_name,shipping,Product_Category_1,Product_Category_2,Product_Category_3,item_description,price
0,0,mlb cincinnati reds shirt size xl,3,NaN,1,Men,Tops,T-shirts,No description yet,10.0
1,1,razer blackwidow chroma keyboard,3,Razer,0,Electronics,Computers & Tablets,Components & Parts,This keyboard is in great condition and works ...,52.0
2,2,avaviv blouse,1,Target,1,Women,Tops & Blouses,Blouse,Adorable top with a hint of lace and a key hol...,10.0
3,3,leather horse statues,1,NaN,1,Home,Home Décor,Home Décor Accents,New with tags. Leather horses. Retail for [rm]...,35.0
4,4,k gold plated rose,1,NaN,0,Women,Jewelry,Necklaces,Complete with certificate of authenticity,44.0

In [17]:
data_2.groupby('Product_Category_1')['Product_Category_1'].count()
data_2.isnull().sum()

train_id              0
name1                 0
item_condition_id     0
brand_name            632682
shipping              0
Product_Category_1    6327
Product_Category_2    6327
Product_Category_3    6327
item_description      4
price                 0
dtype: int64

In [18]:
data_2= data_2[data_2['Product_Category_1'].notnull()]
data_2.isnull().sum()

train_id              0
name1                 0
item_condition_id     0
brand_name            629225
shipping              0
Product_Category_1    0
Product_Category_2    0
Product_Category_3    0
item_description      4
price                 0
dtype: int64

In [19]:
data_2.groupby('Product_Category_1')['Product_Category_1'].count()

Product_Category_1
Beauty                    207828
Electronics               122690
Handmade                  30842
Home                      67871
Kids                      171689
Men                       93680
Other                     45351
Sports & Outdoors         25342
Vintage & Collectibles    46530
Women                     664385
Name: Product_Category_1, dtype: int64

In [22]:
PC1_elec=data_2[data_2['Product_Category_1']=='Electronics']
PC1_elec_train= PC1_elec[PC1_elec['brand_name'].notnull()]
PC1_elec_train= PC1_elec_train[['name1', 'brand_name']]
PC1_elec_train.head()

                                  name1 brand_name
1   razer blackwidow chroma keyboard     Razer
22  galaxy edge unlocked gb              Samsung
26  otterbox defender iphone pluss plus  Apple
38  xbox one                             Xbox
91  goosebumps horrorland ds game        Nintendo

In [30]:
PC1_elec_test= PC1_elec[PC1_elec['brand_name'].isnull()]
PC1_elec_test= PC1_elec_test[['name1']]
PC1_elec_test.head()

                               name1
23   triple car charger
59   hv sports bluetooth headset
69   iphone marble design case
97   iphone mickey ear case
175  paw paw usb cable saver costume

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
vectorizertr = TfidfVectorizer(stop_words='english',
                             ngram_range = ( 1 , 1 ),analyzer="word", 
                             max_df = .57 , binary=False , token_pattern=r'\w+' , sublinear_tf=False)
vectorizerts = TfidfVectorizer(stop_words='english')

In [25]:
corpus_PC1_elec_train = PC1_elec_train['name1']
tfidftr_PC1_elec_train=vectorizertr.fit_transform(corpus_PC1_elec_train).todense()
corpus_PC1_elec_test = PC1_elec_test['name1']
tfidfts_PC1_elec_test=vectorizertr.transform(corpus_PC1_elec_test)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.multiclass import OneVsRestClassifier
import time

In [27]:
predictors_tr_elec = tfidftr_PC1_elec_train

targets_tr_elec = PC1_elec_train['brand_name']

predictors_ts_elec = tfidfts_PC1_elec_test

In [28]:
start= time.time()
clf= LogisticRegression()
#clf = RandomForestClassifier(min_samples_leaf=20)
classifier_elec=clf.fit(predictors_tr_elec,targets_tr_elec)
predictions_elec=classifier_elec.predict(predictors_ts_elec)
end= time.time()

In [78]:
PC1_elec_test['brand_name'] = predictions_elec

In [94]:
PC1_elec_test.loc[1482322,'brand_name']

'Nintendo'

In [20]:
PC1_beat=data_2[data_2['Product_Category_1']=='Beauty']
PC1_beat_train= PC1_beat[PC1_beat['brand_name'].notnull()]
PC1_beat_train= PC1_beat_train[['name1', 'brand_name']]
PC1_beat_train.head()

                            name1         brand_name
10                smashbox primer           Smashbox
11         new vs pi k body mists  Victoria's Secret
15    sephora tarte birthday gift              Tarte
16              glitter eyeshadow         Wet n Wild
18  faced limited merry macaroons          Too Faced

In [21]:
PC1_beat_test= PC1_beat[PC1_beat['brand_name'].isnull()]
PC1_beat_test= PC1_beat_test[['name1']]
PC1_beat_test.head()

                                    name1
42  lots korean nature republic face mask
43         apricot beige stick foundation
49            younique fiber lash mascara
82                         mascara bundle
83    eyebrows essential kit medium brown

In [29]:
corpus_PC1_beat_train = PC1_beat_train['name1']
tfidftr_PC1_beat_train=vectorizertr.fit_transform(corpus_PC1_beat_train)
corpus_PC1_beat_test = PC1_beat_test['name1']
tfidfts_PC1_beat_test=vectorizertr.transform(corpus_PC1_beat_test)

In [30]:
predictors_tr_beat = tfidftr_PC1_beat_train

targets_tr_beat = PC1_beat_train['brand_name']

predictors_ts_beat = tfidfts_PC1_beat_test

In [ ]:
start= time.time()
#clf= LogisticRegression()
#clf = RandomForestClassifier(min_samples_leaf=20)
clf= SVC()
classifier_beat=clf.fit(predictors_tr_beat,targets_tr_beat)
predictions_beat=classifier_beat.predict(predictors_ts_beat)
end= time.time()

In [32]:
PC1_beat_test['brand_name'] = predictions_beat

In [29]:
PC1_beat_test[PC1_beat_test['brand_name']=='Sephora'].head()

NameError: name 'PC1_beat_test' is not defined

In [34]:
PC1_beat_train[PC1_beat_train['brand_name']=='Sephora']

                                            name1 brand_name
33                    caudale beauty elixir spray    Sephora
56                    new josie maran divine drip    Sephora
81             holdfree todayit cosmetics cc hold    Sephora
112                            huda beauty lashes    Sephora
166                     prada candy eau de parfum    Sephora
174                     realher eveshadow pallete    Sephora
225               glitter matte eyeshadow palette    Sephora
231                           abh brow powder duo    Sephora
251                            abh dipbrow pomade    Sephora
299           free ship glamglow glow moisturizer    Sephora
357                            murad skincare lot    Sephora
433                       anastasia ultimate glow    Sephora
498                      anastasia lipgloss sepia    Sephora
576                ofra beverly hills highlighter    Sephora
656              new philosophy loveswept perfume    Sephora
846                   kindness day sale abh brush    Sephora
1000                hold melissasephora gift card    Sephora
1079             rm tonite oz philosophy cleanser    Sephora
1091                   new skincare makeup bundle    Sephora
1427        laser hair removal bellaflash bysilkn    Sephora
1485                 ofra highlighter rodeo drive    Sephora
1552                             burberry perfume    Sephora
1572                               mystery bundle    Sephora
1816                 sephora allover powder brush    Sephora
2033                       mini becca bundle hold    Sephora
2481                free ship sephora mascara set    Sephora
2524              better together faced x kay von    Sephora
2681            colourpop bundle lovebugpointzero    Sephora
3066                  viktor rolf spicebomb fresh    Sephora
3140             jeffree star matte lip androgyny    Sephora
...                                           ...        ...
1478334                   dirty works lip plumper    Sephora
1478563                  huge high end bundle new    Sephora
1478618                              masks bundle    Sephora
1478688  farmacy honeydrop lightweight moisturize    Sephora
1478771        mac lipstick beauty bundle new pcs    Sephora
1478844                 huge makeup beauty bundle    Sephora
1479312          josie maran milk hydrating serum    Sephora
1479397          rmship bottega veneta perfume ml    Sephora
1479471                 colourpop ultra matte lip    Sephora
1479706                vera wang princess perfume    Sephora
1479941        new sephora birchbox hair samplers    Sephora
1480047                          skin care bundle    Sephora
1480058                   becca glow go moonstone    Sephora
1480123                                    lashes    Sephora
1480167                  tartelette bloom palette    Sephora
1480284                                  mini set    Sephora
1480472    organic teeth whitening sale free ship    Sephora
1480493                       gucci bamboo ml new    Sephora
1480711             dose colors eyeshadow palette    Sephora
1481110           artist couture highlight powder    Sephora
1481348                              miami lashes    Sephora
1481386                 chi air hair straightener    Sephora
1481610                    original beautyblender    Sephora
1481731                     pure grace philosophy    Sephora
1481936                             sephora brush    Sephora
1482222                     dermaflash essentials    Sephora
1482232             becca jacyln hill highlighter    Sephora
1482234                      make forever ultrahd    Sephora
1482242             piece spectrum makeup brushes    Sephora
1482476               versace yellow diamond mini    Sephora

[12159 rows x 2 columns]

In [35]:
PC1_beat_test.shape

(96240, 2)

In [3]:
import numpy as np
import pandas as pd
import re, string, nltk
from string import punctuation
from collections import Counter
pd.options.mode.chained_assignment = None
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
import _pickle as cPickle
import time
import numpy
from pylab import *
import random
from nltk.stem.snowball import SnowballStemmer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, FeatureHasher
from nltk.stem.porter import*
from nltk.stem import PorterStemmer, WordNetLemmatizer
stop = set(stopwords.words('english'))

In [4]:
stemmer = SnowballStemmer("english")

In [6]:
i = stopwords.words('english')
j = list(string.punctuation) 

stopwords = set(i).union(j)

In [25]:
def preprocess(x):
    x = re.sub('[^a-z\s]',' ', str(x).lower())   
    x = [stemmer.stem(w) for w in x.split() if w not in set(stopwords)]
    x= [y for y in x if len(y)>2]
    x= list(set(x))
    return ' '.join(x)

In [ ]:
data["item_description"] = data['item_description'].apply(preprocess)